#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(138, 125, 125);
  display: grid;
  border-style: double;
}

.pupList {
  background-color: rgb(97, 116, 97);
  border-radius: 15px;
  padding: 40px;
  box-shadow: 0 8px 16px 0px rgba(0, 0, 0, 1);
  width: auto;
}

.pupList h1 {
  cursor: pointer;
  transition: 0.3s;
}

.pupList h1:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
  width: auto;
}

.singlePup {
  color: rgb(243, 235, 235);
  background-color: rgb(175, 67, 67);
  border-style: groove;
}

.singlePup h2 {
  text-decoration-line: underline;
}
.singlePup li {
  list-style-type: none;
  text-align: left;
}
